html {
    box-sizing: border-box;
    font-family: Georgia, Dosis, serif;
    line-height: 1.5;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
 
* {
  list-style: none;
  font-style: none;
  text-decoration: none;
}
#card {
  width:320px;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
}

#card:hover {
  background-color: #cabdb2;
}
  .link-card {
    display: block;
    padding: .5rem 1.5rem 1.5rem;
    color: #512200;
  }
    #top {

    }
      h2 {
        font-family: Dosis;
        font-size: 1.5rem;

      }

      p {
        font-size: 1.125rem;
      }

    #middle {
      border-top: 2px solid #9a816d;
      border-bottom: 2px solid #9a816d;
      overflow: auto;
    }

      ul {
        display: inline-block;
        padding: 0;
        width: 50%;
        float: left;
        font-size: .875rem;
      }

      #italics {
        font-style: italic;
      }

    #bottom {
      text-align: center;
      margin-top: 1rem;
      padding-top: .25rem;
    }

      .btn {
        background-color: #785439;
        color: #f0eee8;
        font-size: 1rem;
        border-radius: 8px;
        padding: .75em .5em;
        font-family: Dosis;
      }